@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");

a,
p,
h1,
h2,
h3,
h4,
h5,
label {
    font-family: "Roboto", sans-serif;
    margin: 0;
    color: black;
}

body {
    display: flex;
    justify-content: start;
    flex-direction: column;
    align-items: center;
}

/*display: flex;*/
/*flex-direction: column;*/
/*align-items: center;*/
/*gap: 10%;*/

.hightlight {
    color: #ff5401!important;
}

.padding {
    padding-top: 16px;
    padding-bottom: 16px;
}

a {
    text-decoration: none;
}

.menu {
    display: flex;
    flex-direction: row;
    gap: 16px;
    padding-top: 24px;
    padding-bottom: 24px;
}

.menu-option {
    text-decoration: none;
    color: black;
}