<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:href="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title th:text="${carData.getModel()}"></title>
    <link rel="stylesheet" type="text/css" href="/car.css">
    <link rel="stylesheet" type="text/css" href="/style.css">
</head>
<body class="body">
<nav class="menu">
    <a class="menu-option" href="/main">Home</a>
    <a class="menu-option" href="/car">Catalog</a>
    <a class="menu-option" href="/order">Orders</a>
    <a class="menu-option" href="/dashboard">Dashboard</a>
    <a class="menu-option" href="/feedback">Feedback</a>
    <a class="menu-option" href="/login">Login</a>
</nav>
<div class="car-content-container">
    <div class="breadcrumb-container padding">
        <a th:href="@{'/car'}">Home</a>
        <p>></p>
        <p class="hightlight" th:text="${carData.getModel()}"></p>
    </div>
    <div class="image-container">
        <img class="preview" th:src="${carData.getImage()}"/>
        <div class="order">
            <div class="purchase-header">
                <h4>Purchase Car:</h4>
                <h4 class="hightlight" th:text="${carData.getPrice() + '$'}"></h4>
            </div>
            <form action="/order/new" class="purchase-form" method="post">
                <input type="hidden" name="carId" th:value="${car_id}">
                    <div class="option" th:each="c : ${options}">
                        <input th:id="${'option_' + c.getId()}" name="selectedOptions" th:value="${c.getId()}" type="checkbox"/>
                        <label th:for="${'option_' + c.getId()}" th:text="${c.getName() + ' ' + c.getPrice()}"></label>
                    </div>

                <button class="submit-button" type="submit">Order!</button>
            </form>
        </div>
    </div>
    <h3 class="padding" th:text="${carData.getModel()}"></h3>
    <p class="car-caption padding">
        It is a long established fact that a reader will be distracted
        by the readable content of a page when looking at its layout.
        The point of using Lorem Ipsum is that it has a more-or-less
        normal distribution of letters, as opposed to using content
        here, content heremaking it look like readable Englishbut the
        majority haveor randomised words which don't look even slightly
        believable. Distracted by the readable content of a page when
        looking at its layout. The point of using Lorem Ipsum is that it
        has a more-or-less normal distribution of letters, as opposed to
        using content herehave suffered alteration.
    </p>
</div>
<div class="car-sizes-container">

    <div class="car-size-card">
        <div class="horizontal-size">
            <div class="size-h-line"></div>
            <p class="size" th:text="${'Width ' + carData.getCarWidth()}"></p>
            <div class="size-h-line"></div>
        </div>
        <img
                src="/car-front.png" alt="car-front"
                width="250px"
        />
    </div>

    <div class="car-size-card">
        <div class="horizontal-size">
            <div class="size-h-line"></div>
            <p class="size" th:text="${'Length ' + carData.getCarLength()}"></p>
            <div class="size-h-line"></div>
        </div>
        <div class="vertical-size-container">
            <img
                    src="/side-car.png" alt="car-front"
                    width="400px"
            />

            <div class="vertical-size">
                <div class="size-v-line"></div>
                <div class="container-height">
                    <p class="size">Height</p>
                    <p class="size" th:text="${carData.getCarHeight()}"></p>
                </div>
                <div class="size-v-line"></div>
            </div>

        </div>
    </div>
</div>
<div class="features-table">
    <div class="features-table-header padding">
        <h4>Key Features Of <h4 class="hightlight" th:text="${carData.getModel()}"></h4></h4>
    </div>
    <div class="features-table-row padding">
        <div class="feature-pcs">
            <p class="feature-title">Year</p>
            <p class="feature-value" th:text="${carData.getYear()}"></p>
        </div>

        <div class="feature-pcs">
            <p class="feature-title">Color</p>
            <p class="feature-value" th:text="${carData.getColor()}"></p>
        </div>
    </div>

    <div class="features-table-row padding">
        <div class="feature-pcs">
            <p class="feature-title">Body Type</p>
            <p class="feature-value" th:text="${carData.getBodyType()}"></p>
        </div>

        <div class="feature-pcs">
            <p class="feature-title">Transmission</p>
            <p class="feature-value" th:text="${carData.getTransmission()}"></p>
        </div>
    </div>

    <div class="features-table-row padding">
        <div class="feature-pcs">
            <p class="feature-title">Drive Type</p>
            <p class="feature-value" th:text="${carData.getDriveType()}"></p>
        </div>

        <div class="feature-pcs">
            <p class="feature-title">Doors Number</p>
            <p class="feature-value" th:text="${carData.getDoorsNumber()}"></p>
        </div>
    </div>

    <div class="features-table-row padding">
        <div class="feature-pcs">
            <p class="feature-title">Weight</p>
            <p class="feature-value" th:text="${carData.getWeight()}"></p>
        </div>

        <div class="feature-pcs">
            <p class="feature-title">Power</p>
            <p class="feature-value" th:text="${carData.getPower()}"></p>
        </div>
    </div>

    <div class="features-table-row padding">
        <div class="feature-pcs">
            <p class="feature-title">Load Capacity</p>
            <p class="feature-value" th:text="${carData.getLoadCapacity()}"></p>
        </div>

        <div class="feature-pcs">
            <p class="feature-title">Trunk Volume</p>
            <p class="feature-value" th:text="${carData.getTrunkVolume()}"></p>
        </div>
    </div>

    <div class="features-table-row padding">
        <div class="feature-pcs">
            <p class="feature-title">Fuel Type</p>
            <p class="feature-value" th:text="${carData.getFuelType()}"></p>
        </div>

        <div class="feature-pcs">
            <p class="feature-title">Clearance</p>
            <p class="feature-value" th:text="${carData.getClearance()}"></p>
        </div>
    </div>
</div>
</body>
</html>