<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Main Page</title>
    <link rel="stylesheet" type="text/css" href="/style.css">
    <link rel="stylesheet" type="text/css" href="/main.css">
</head>
<body class="body">
<header class="header">
    <h1>Welcome to our Car Dealership </h1>
    <p>Discover our wide selection of vehicles and find your perfect match.</p>
</header>
<nav class="nav-menu">
    <a href="/car">View All Cars (Catalog)</a>
</nav>
</body>
</html>
